.user-badge-dropdown::after {
  margin-top: auto;
  margin-bottom: auto;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu:hover::after {
  border-bottom-color: #FD5E16;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-submenu-active::after {
  border-bottom-color: #FD5E16;
}

.ant-menu-light.ant-menu-horizontal > .ant-menu-item:hover::after {
  border-bottom-color: #FD5E16;
}

.process-schedule-calendar .ant-picker-date-panel .ant-picker-cell:not(.ant-picker-cell-in-view) .ant-picker-cell-inner {
  display: none;
}

.process-schedule-calendar .ant-picker-date-panel .ant-picker-cell:not(.ant-picker-cell-in-view) {
  pointer-events: none;
}

.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}